@page
@model AboutModel
@{
    
}

<div>
    <h2 class="page-title">Om mig</h2>
    <h3>Information</h3>
    <p>Jag heter Tony Johansson och bor på Hammarö med min sambo som ligger 1 mil utanför Karlstad</p>
    <p>Vi har två vuxsna barn Alexandra och Ida som är välutbildade. Alexandra är civilingenjör och Ida läser till jurist vid Karlstads universitet</p>
    <p>Jag älskar sommaren med sol och värme och hatar vinter med snö,köla och snöblask.</p>
    <p>Mina intressen är systemutveckling och programmering och de flesta programmeringsspråken</p>
    <p>Läser nu programmet webbutveckling vid Mittuniversitetet.</p>
</div>

<script>
    setActive("about")
</script>