@page
@model IndexModel

@{}

<div>
    <h2 class="page-title">Välkommen</h2>
    <p>
        Banhoppning är den största ridsporten[1]. Deltagarna rider en bana som, beroende på svårighetsgrad, är byggd med ett antal hinder med en viss höjd.
        Banhoppning har varit en olympisk gren sedan OS i Paris år 1900[2]. Då fanns både höjd- och längdhopp med. Hoppning visades för första gången i TV 1948, under OS i London[3].
    </p>

    <p>
        Hoppning fick sin ursprung från den irländska rävjakten. Det var då
        hästhoppningen grundades. Det finns massvis med olika hinder på
        tävlingar, och träningar. Förr i tiden fanns det inte lika mycket med
        sånna fina hinder som det finns idag. Det finns tomtehinder, påskhinder
        och mycket mera. Men det är klubben själv som bygger sina hinder. Så om
        du åker och tävlar på olika klubbar är det också olika hinder, men
        vissa kan också vara lika. Det finns även olika hindertype. . Oxer,
        räcke mm. Här på bilden får ni se några av alla olika hindertyper:Hoppning är den största grenen inom ridsporten. Det finns så många
        olika grenar inom ridsporten, tex fälttävlan , gymkhana, dressyr osv.
    </p>
</div>

<script>
    setActive("index")
</script>

